{%- minify -%}

{% set env = getenv('ENVIRONMENT') %}
{% set baseUrl = url() %}

{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}

{%- endminify -%}

<!DOCTYPE html>
<html lang="en-US">
<head>
	{%- minify -%}
	<link rel="dns-prefetch" href="{{ baseUrl }}" crossorigin>
	<link rel="preconnect" href="{{ baseUrl }}" crossorigin>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{# -- SEO meta tags -- #}
	{# <title>{{ entry.title }} — {{ mainName }}</title> #}
	{% hook 'seo' %}

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

	{# <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" /> #}

	{# -- Inline CSS block used by templates for Critical CSS #}
	{# -- Only use Critical CSS & LoadCSS when we have it available to prevent flashing #}

	<link rel="stylesheet" href="{{ mix('/css/main.css') }}">


	{%- endminify -%}

	{% include "_meta/favicon" %}

</head>
<body>
		
  {% block body %}{% endblock %}

	
	
  {% include "_meta/typekit" %}

  {# Use async or defer attribute
    Async: Load-first order. Non-blocking.
    Defer: Document Order. Non-blocking.
  #}
	<script src="/js/vendors/easytimer.min.js"></script>
	{% if craft.app.request.getSegment(-1) == '' %}
		<script>const mainFarmKey = 'farms'; var forceUpdate = false;</script>
		<script type="module" src="{{ mix('/js/main.js') }}" defer></script>
	{% elseif craft.app.request.segment(-1) == 'w3g' %}
		{% include './_snippets/w3gFarmsScript.twig' %}
		<script>const mainFarmKey = 'w3gfarms';</script>
		<script type="module" src="{{ mix('/js/main.js') }}" defer></script>
	{% endif %}
</body>
</html>